In [1]:
pip install sqlalchemy~=2.0.30 psycopg2-binary~=2.9.9

Requirement already satisfied: sqlalchemy~=2.0.30 in /opt/app-root/lib/python3.9/site-packages (2.0.30)
Requirement already satisfied: psycopg2-binary~=2.9.9 in /opt/app-root/lib/python3.9/site-packages (2.9.9)
Requirement already satisfied: greenlet!=0.4.17 in /opt/app-root/lib/python3.9/site-packages (from sqlalchemy~=2.0.30) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/app-root/lib/python3.9/site-packages (from sqlalchemy~=2.0.30) (4.11.0)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import os
from projects import get_active_skus

In [6]:
skus = get_active_skus(
    username=os.getenv("DB_USERNAME"),
    password=os.getenv("DB_PASSWORD"),
    hostname=os.getenv("DB_HOST"),
    port=os.getenv("DB_PORT"),
    dbname=os.getenv("DB_NAME")
)
skus.head()

     SKU                                Team
0  AD141  OpenShift Application Development
1  AD183  OpenShift Application Development
2  AD221  OpenShift Application Development
3  AD248  OpenShift Application Development
4  AD348  OpenShift Application Development

In [7]:
skus.to_csv("projects.csv", index=False)